#horizontal_list {
  display: flex;
  align-items: center;
  justify-content: center;
}
#horizontal_list li {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  flex-direction: column;
  cursor: pointer;
}
#horizontal_list li:hover {
  opacity: 1;
}
#horizontal_list li img {
  width: 80px;
}
li .border {
  width: 100%;
  height: 8%;
}

li:hover .border {
  background: #0c4ea8;
}
li:active .border {
  background: #093e86;
}
#list_name li:active .border {
  background: #0c5ac6;
}

#horizontal_list .chosen {
  opacity: 1;
}
#horizontal_list .notChosen {
  opacity: 0.36;
}
.border_b {
  opacity: 1;
  background: #0c5ac6;
}
.border_n {
  background: #fff;
}
