
#horizontal_list{
    display: flex;
    align-items: center;
    justify-content: center;
}
    
#horizontal_list li{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    flex-direction: column;
    cursor: pointer;
    opacity: 0.36;
}
#horizontal_list li:hover{
    
    opacity: 1;

}

#horizontal_list li img{
    width: 80px;
    
}
li .border {
    width: 100%;
    height: 8%;
    background: #fff;
}
li:hover .border {
    background: #0C4EA8;
}
li:active .border {
    background: #093E86;
}
#list_name li:active .border {
    background: #0C5AC6;
}

