.big_namecard {
  border: 2px solid;
  border-radius: 20px;
  border-color: #0c59c3;
  margin-left: 152px;
  margin-bottom: 32px;
  padding: 20px;
  width: 720px;
  height: 280px;
}

.big_namecard .right_side {
  margin-top: auto;
  margin-bottom: auto;
  line-height: 200%;
  transform: translate(35%, 0%);
}

.big_namecard .right_side .name {
  font-size: 25px;
  margin: 8px 0px;
}

.big_namecard .button {
  float: right;
  transform: translate(-35%, -50%);
}

.small_namecard {
  width: 1080px;
  white-space: nowrap;
  overflow-x: scroll;
}

.small_namecard li {
  display: inline-block;
  padding: 20px;
  width: 160px;
  height: 216px;
  margin-right: 10px;
  border: 1px solid;
  border-radius: 15px;
  border-color: #e8f2ff;
  background-color: #e8f2ff;
}

.small_namecard li .club_name {
  overflow-x: scroll;
  font-size: 22px;
  margin-bottom: 8px;
}

.small_namecard li .club_intro {
  overflow-x: scroll;
}

.small_namecard li .club_position {
  font-size: 14px;
  float: right;
  color: #093e86;
  transform: translate(0%, 35%);
  margin-left: 16px;
}
