.section_wrapper {
  /* transform: translate(7%, 0%); */
  display: table;
  margin: 0 auto;
  margin-top: 44px;
}
.centeralign_wrapper {
  transform: translate(10%, 0%);
  margin-top: 44px;
}
.inform {
  margin-left: 10px;
}
.circle_display_horiz{

}
.circle_display_vert{
  
}
.upload_pic {
  float: left;
}
/*circle*/
.circle {
  width: 1000px;
}
.circle_header {
  margin-bottom: 8px;
}
.detailButton {
  margin-left: 550px;
}
.detailButton #button5B {
  margin-bottom: 20px;
}
.circle .clubImage150 img {
  position: absolute;
  border-radius: 0px;
  margin: 0px;
  top: 55px;
  right: 110px;
}

.openDate {
  margin-left: 15px;
  line-height: 30px;
}
.hashtag {
  margin-left: 15px;
  line-height: 30px;
  color: #0c5ac6;
}

.circle_detail {
  margin: 0 auto;
  width: 900px;
  line-height: 28px;
  display: block;
}

.circle_detail .poster {
  width: 80%;
  margin-top: 24px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-self: center;
  justify-content: center;
}
.circle_reviewList {
  margin: 0 auto;
}

.circle_review {
  width: 740px;
  min-height: 70px;
  height: auto;
  overflow: auto;

  margin: 20px 0px;
  padding: 20px 30px;

  border: 2px solid #e1eeff;
  background-color: #e1eeff;
  border-radius: 30px;
}

.circle_review .reviewDate {
  font-size: 12px;
  margin-top: 15px;
  float: right;
}
.circle_review .reviewDetail {
  width: 740px;
  height: auto;
  /*overflow: auto;*/
  line-height: 24px;
}
.circle_review .reviewer {
  font-size: 14px;
  margin-bottom: 7px;
}
.circle .section_wrapper {
  width: 805px;
}

.FAQ_question {
  width: 620px;
  height: auto;
  /*overflow: auto;*/

  margin: 20px 0px;
  padding: 20px 30px;

  border: 2px solid #e1eeff;
  background-color: #e1eeff;
  border-radius: 30px;
}
.editFAQ .FAQ_question {
  margin: 20px 0px 0px 0px;
  padding: 16px 26px;
  border: 10px solid #e1eeff;
  background-color: #f7f7f7;
}
.editFAQ #button_x {
  position: relative;
  transform: translate(640px, -152px);
  width: 32px;
  height: 32px;
  background-image: url('../images2/icon_x@2x.png');
  background-size: 32px;
  border: none;
}
.user_namecard_edit #button_plus {
  position: relative;
  transform: translate(72px, -44px);
  border: none;
}
.user_namecard_edit #button_x {
  width: 32px;
  height: 32px;
  background-size: 36px;
  transform: translate(72px, -44px);
}
/* .btn_plusorx_move {
  background: chartreuse;
} */
.FAQ_answer {
  width: 620px;
  height: auto;
  /*overflow: auto;*/

  margin: 20px 0px 20px 120px;
  padding: 20px 30px;

  border: 2px solid #b2cff7;
  background-color: #b2cff7;
  border-radius: 30px;
}
.editFAQ .FAQ_answer {
  margin: 20px 0px 10px 120px;
  padding: 16px 26px;
  border: 10px solid #b2cff7;
  background-color: #f7f7f7;
}
.editFAQ #button5W {
  width: 140px;
  margin: 10px 0px;
  float: right;
}
.circle .FAQeditButton {
  margin: 60px 320px;
  display: block;
}

/*circle detail*/
.circleDetail {
  width: 1000px;
}

.recruitDetail {
  margin-left: 15px;
  line-height: 30px;
}
.Qu_List {
  width: 740px;
}
.question {
  width: 620px;
  height: auto;
  /*overflow: auto;*/

  margin: 20px 0px;
  padding: 20px 30px;

  background-color: #e1eeff;
  border-radius: 20px;
}

.answer {
  width: 620px;
  height: auto;
  /*overflow: auto;*/

  margin: 20px 0px 20px 120px;
  padding: 20px 30px;

  background-color: #b2cff7;
  border-radius: 20px;
}

.Qu_List .questionDate {
  font-size: 12px;
  margin-top: -48px;
  float: right;
}
.Qu_List .questionDetail {
  width: auto;
  height: auto;
  /*overflow: auto;*/
  line-height: 24px;
}
.Qu_List #button0 {
  margin-top: 10px;
  margin-right: 3px;
}

.questionWrite {
  padding-top: 20px;
  width: 800px;
}
.questionWrite #button4 {
  margin-top: 10px;
  float: right;
}
.movetoright {
  transform: translate(90%, 10%);
}

.photoUpload {
  width: 160px;
  margin: 16px;
  text-align: center;
  float: left;
}
.photoDrop {
  margin: 5px;
}

.openSelection {
  transform: translate(2%, 0%);
  line-height: 200%;
  width: 900px;
}
.openSelection input {
  float: right;
  height: 24px;
  width: 600px;
}
.openSelection .firstName {
  width: auto;
}
.openSelection .동아리명 {
  padding-top: 20px;
}
.openDetail {
  clear: both;
  margin-top: 75px;
  margin-left: 12px;
}
.tagSelect {
  margin-top: 10px;
  margin-left: 12px;
}

/* circle open approval*/
.notice {
  padding-top: 40px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
.noticeDetail {
  line-height: 150%;
}
.sortDetail {
  margin-left: 20px;
}
.userSort .userName {
  width: 200px;
  height: 120px;
  text-align: center;
  font-size: 20px;
  color: #0c59c3;
  font-weight: bold;
}

.userSort .userDetail {
  line-height: 150%;
}
.restriction {
  margin-left: 20px;
  line-height: 150%;
}

.howToRecruit {
  width: 1000px;
  text-align: center;
}
.howToRecruit td {
  width: 200px;
}
.num td {
  font-size: 25px;
  color: #0c59c3;
  padding: 5px 0px;
}
.howTitle td {
  font-size: 20px;
  padding: 2px 0px;
}
.howDetail td {
  font-size: 14px;
  padding: 2px 0px;
}
.room {
  height: 20px;
}
.extraDetail {
  font-size: 12px;
}
.extraDetail .blueUnder {
  font-size: 12px;
  text-decoration: underline;
}
.threeButtons button {
  width: 1000px;
}
.threeButtons button {
  margin-left: 380px;
  margin-top: 20px;
}

/* circle members*/
.circleMembers {
  width: 1000px;
  align-items: left;
}
.membersSort {
  padding-top: 20px;
}
.membersSort #button3 {
  transform: translate(690%, -70%);
}
.memberNum {
  font-size: 28px;
  margin: 0px 0px 10px 5px;
  transform: translate(0%, 50%);
}
.members_title {
  font-size: 28px;
  margin: 0px 0px 10px 5px;
}
.membersKind {
  border: 1px solid;
  border-radius: 15px;
  padding: 0px 20px;
  font-size: 18px;
  width: 860px;
  height: 60px;
  margin: 20px auto;
}
.membersKind li {
  float: left;
  font-size: 20px;
  color: #0c59c3;
  width: auto;
  text-align: center;
  transform: translate(0%, 56%);
  margin: 0px 16px;
}
.new_member_kind {
  display: inline-flex;
  align-items: center;
}
.new_member_kind span {
  transform: translate(0%, 40%);
}
.new_member_kind input {
  margin: 0px 8px;
}
.new_member_kind button {
  transform: translate(0%, 6%);
}
.roleName {
  font-size: 26px;
  color: #0c59c3;
  margin: 30px 0px 5px 10px;
}

.user_name {
  font-size: 25px;
  padding-bottom: 8px;
}
.user_role {
  font-size: 20px;
  color: #0c59c3;
}

.role {
  display: flex;
}

.circleMembers #button4 {
  margin: 40px 150px 0px 0px;
  float: right;
}

/*circle members edit*/
.circleMembersEdit {
  width: 1000px;
}
.circleMembersEdit span {
  font-size: 20px;
  font-weight: 600;
}
.circleMembersEdit .linktoguide {
  font-size: 20px;
  color: #0c5ac6;
  text-decoration: underline;
}
.circleMembersEdit .members_title {
  margin: 30px 0px 10px 5px;
}

.user_namecard_edit .submaster_role {
  margin: 0 auto;
  font-size: 20px;
  color: #0c59c3;
  transform: translate(0%, -26px);
}
.user_namecard_edit img:nth-child(1) {
  transform: translate(0%, -26px);
}
.subClubImage img {
  border-radius: 200px;
  margin: 0 auto;
  display: inherit;
  margin-top: 5px;
}
.role .changeOwner {
  margin-left: 20px;
  margin-top: 42px;
  text-decoration: underline;
  border: 0px;
  padding: 0px;
  height: 18px;
  background-color: white;
}
.circleMembersEdit #button4 {
  float: right;
  margin-top: 20px;
  margin-right: 50px;
}

/*circle members edit modal*/
#simple-modal-title {
  margin: 0;
  line-height: 45px;
  padding-left: 15px;
  height: 45px;
  width: 800px;
  background-color: #0c5ac6;
  color: white;
}
#simple-modal-description {
  margin-top: 50px;
  position: inherit;
  overflow-y: auto;
  height: 555px;
}
#simple-modal-description .namecardList {
  float: left;
}
#simple-modal-description .user_namecard {
  width: 100px;
  height: 120px;
  padding: 19px;
}
#simple-modal-description .user_namecard .user_name {
  font-size: 20px;
  padding: 0px;
}
#simple-modal-description .user_namecard .user_role {
  font-size: 15px;
  color: #0c59c3;
}

.modalButtons {
  position: fixed;
  bottom: 15px;
  right: 10px;
}
.modalButtons #button1 {
  margin-right: 10px;
}
