* {
  margin: 0px;
  padding: 0px;
  font-family: 'Arial';
  font-size: 16px;
  list-style-type: none;
  text-decoration: none;
}

header {
  z-index: 1;
  margin: 0px auto;
  width: 100%;
  height: 200px;
  background-color: #b2cff7;
  position: fixed;
}
.body #wrapper {
  position: relative;
  margin: 0 auto;
}
#list-name {
  position: relative;
  margin: 0px 0px 0px 1100px;
}
#list-name_intro {
  display: inline-flex;
  margin: 0px 20px 0px 20px;
}
.category_name {
  position: relative;
  font-size: 40px;
  margin-left: 56px;
  margin-top: 24px;
  font-weight: 600;
  color: #0c5ac6;
}
#horizontal_list {
  padding: 20px 0px;
  height: 128px;
  margin: 8px 20px auto;
  text-align: center;
  display: inline-block;
}
#horizontal_list li {
  width: 128px;
  height: 128px;
  float: left;
  border: solid;
  border-width: 2px 1px;
}

.club_list {
  width: 100%;
  margin: 20px auto;
}

#horizontal_club_list li {
  padding: 20px;
  clear: both;
  border: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #0c5ac6;
  height: 100px;
  width: 1000px;
  margin: 0 auto;
}

#horizontal_club_list li h3 {
  color: #0c5ac6;
  font-size: 28px;
}
#horizontal_club_list li p {
  margin: -24px 32px;
  font-size: 20px;
}

.body {
  padding-top: 200px;
  margin: 80px 240px;
  min-width: 1300px;
  /*가운데 정렬을 위해 추가했습니다.*/
  display: flex;
  /*flex-direction: column;*/
  align-items: center;
  justify-content: center;
}

h2 {
  font-size: 40px;
  margin: 0px 0px 10px 0px;
}

.middle_title {
  float: left;

  flex-direction: column;
  font-size: 28px;
  margin: 20px 0px 10px 5px;
}

.small_title {
  width: 100%;
  font-size: 23px;
  margin: 20px 0px 10px 5px;
}

#list {
  height: 70px;
  margin: 0 auto;
}
#list ul li {
  color: black;
  text-align: center;
  line-height: 52px;
  font-size: 28px;
}

a {
  color: black;
}

a.active {
  text-decoration: none;
  color: #0c5ac6;
}

.menu {
  float: right;
}

.menu li {
  position: relative;
  transform: translate(0%, 100%);
  background: rgba(255, 255, 255, 0.8);
  width: 180px;
  height: 52px;
  float: right;
  line-height: 70px;
  text-align: center;
}

.menu li a {
  float: right;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 20px;
}

.menu li:hover a {
  background: rgba(255, 255, 255);
}

.menu li:hover .sub {
  display: block;
}

.sub {
  position: relative;
  transform: translate(0, -52px);
  width: 100%;
  display: none;
  box-sizing: border-box;
}
.sub li {
  width: 100%;
  line-height: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.horizontal_scroll {
  padding: 10px 20px 30px 20px;
  height: 260px;
  width: 1080px;
  white-space: nowrap;
  overflow-x: scroll;
}

.warning {
  min-width: 70%;
  font-size: 14px;
  margin-left: 520px;
  margin-top: 45px;
  margin-bottom: 7px;
  color: red;
}

.word_button {
  position: relative;
  transform: translate(3%, 160%);
  text-decoration: underline;
}

.word_button a {
  color: #0c5ac6;
}

.mypageEdit {
  position: relative;
  width: 160px;
  height: 24px;
  padding-left: 10px;
  margin-left: 10px;
  border: 1px solid;
  border-color: #707070;
  border-radius: 10px;
}

.clubRecruitNotice {
  padding-top: 30px;
  margin-left: 30px;
  width: 900px;
  clear: both;
  white-space: pre-wrap;
  font-size: 16px;
  line-height: 32px;
}

.noticeConsent {
  margin-left: 30px;
  margin-top: 10px;
}

.MuiDialog-root #alert-dialog-title {
  color: white;
  background-color: #0c5ac6;
  font-size: 10px;
  width: 400px;
  height: 32px;
  padding-bottom: 0px;
}
.MuiDialog-container {
  background-color: rgba(255, 255, 255, 0.2);
}
.MuiDialog-root .MuiTypography-h6 {
  font-size: 16px;
  line-height: 1.3;
}
.MuiDialog-root .MuiTypography-body1 {
  font-size: 18px;
  line-height: 36px;
}
.MuiDialog-root .MuiTypography-colorTextSecondary {
  color: black;
}

.red {
  color: red;
}
