.apply_wrapper {
  width: 1000px;
}
.apply_questions {
  position: relative;
  display: block;
  clear: both;
  width: 100%;
}

.question_box {
  padding: 15px;
}
.applyquestion {
  margin-bottom: 12px;
}
.applyquestion label {
  font-weight: 550;
  font-size: 20px;
}
.question_box input {
  margin-left: 15px;
  margin-bottom: 5px;
}
.question_box .apply_choosetime {
  margin-left: 15px;
  margin-bottom: 5px;
  width: 56px;
  font-size: 18px;
  text-align: center;
}
.essay {
  padding: 12px;
  font-size: 20px;
}
.question_box input[type='date'] {
  width: 140px;
}
.question_box input[type='select'] {
  width: 40px;
}
.question_box input[type='checkbox'] {
  margin-right: 5px;
}
.noticeConsent {
  margin-top: 50px;
}
.noticeConsent input[type='checkbox'] {
  margin-right: 5px;
}

.applyCheckbox {
  margin-left: 15px;
  margin-bottom: 5px;
  font-size: 20px;
}

.resumeList {
  position: fixed;
  display: block;
  margin: 0 auto;
  transform: translate(250%, -300%);
  margin-left: 400px;
  border: 2px solid;
  border-color: #0c59c3;
  border-radius: 10px;
  background-color: white;

  padding: 30px 20px;
  width: 160px;
  height: 240px;
}
#copy {
  background-color: white;
  border: none;
  text-decoration: underline;
  float: right;
  transform: translate(0px, 18px);
}

.resumeList_header {
  text-align: center;
  font-size: 25px;
  color: #093e86;
  margin-bottom: 20px;
}

.resumeList ul li {
  color: #0c5ac6;
  margin: 5px 0px 55px 0px;
}

.resumeList ul li p {
  color: black;
  text-decoration: underline;
  float: right;
  margin: 10px 0px;
}
