.apply_wrapper {
  width: 1300px;
}
.apply_questions {
  position: relative;
  display: block;
  clear: both;
  width: 100%;
}

.question_box {
  padding: 15px;
}
.applyquestion {
  margin-bottom: 12px;
}
.applyquestion label{
  font-weight: 600;
  font-size: 24px;
}
.question_box input {
  margin-left: 15px;
  margin-bottom: 5px;
}
.essay{
  padding: 12px;
  font-size: 20px;
}
.question_box input[type='date'] {
  width: 140px;
}
.question_box input[type='select'] {
  width: 40px;
}
.question_box input[type='checkbox'] {
  margin-right: 5px;
  
}

.applyCheckbox {
  margin-left: 15px;
  margin-bottom: 5px;
  font-size: 20px;
}

.resumeList {
  position: fixed;
  transform: translate(420%, -250%);
  border: 2px solid;
  border-color: #0c59c3;
  border-radius: 10px;

  padding: 30px 15px;
  width: 200px;
}

.resumeList_header {
  text-align: center;
  font-size: 25px;
  color: #093e86;
  margin-bottom: 20px;
}

.resumeList ul li {
  color: #0c5ac6;
  margin: 10px 0px 25px 0px;
}

.resumeList ul li p {
  color: black;
  text-decoration: underline;
  float: right;
  margin: 10px 0px;
}
